:root {
    --secondary-bg-color: #0C1017;
    --primary-bg-color: #212121;
    --primary-color: #4C52B2;
    --primary-button-color: #B0B7BE;
}

p {
    margin: 0;
}

input[type="range"] {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    height: 4px;
    border-radius: 4px;
    background-color: #dedede;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, var(--primary-color)), color-stop(100%, var(--primary-color)));
    background-size: 0% 100%;
    background-repeat: no-repeat;
    margin: 0 10px;
}

input[type="range"]:focus {
    box-shadow: none;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background-color: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width:  20px;
    border-radius: 50%;
    background: var(--primary-color);
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);

}

#room-input, #room-input:focus {
    outline: none;
    height: 100%;
    width: 100%;
    padding: 10px 0 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    background: #fff;
}

#room-create, #room-create:focus {
    outline: none;
    width: 100%;
    padding: 10px 0 10px 20px;
    border-radius: 25px;
    border: none;
    border: none;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background: var(--primary-bg-color);
    padding: 30px 16px;
    border-top: 1px solid var(--primary-color);
}

#add-song {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 3px 0px #0e0e0e85;
}

#add-song:focus {
    outline: none;
}

#add-song:active {
    background-color: rgb(57, 63, 146);
    box-shadow: 2px 2px #0e0e0e;
    transform: translate(0px, 1px)
}

.song-card:hover {
    background-color: #0e0e0e;
    box-shadow: none;
}

.song-card {
    display: flex;
    justify-content: space-between;
    min-height: 5vw;
    max-height: 5vw;
    overflow: hidden;
    cursor: pointer;
    margin: 5px 25px;
    font-family: "Gill Sans, Seravek, Trebuchet MS, sans-serif";
    box-shadow: 2px 2px 0px 1px #0e0e0e;
}

#play-button, #song-skip-backward, #song-skip-forward {
    color: #eee;
    padding: 0 2em;
}

#play-button:focus, #song-skip-backward:focus, #song-skip-forward:focus {
    outline: none;
    box-shadow: none;
}

#play-button:hover, #song-skip-backward:hover, #song-skip-forward:hover {
    cursor: pointer;
    opacity: .5;
}